{{define "Title"}}{{end}}
{{define "importcss"}}
<link href="/static/css/home.css" rel="stylesheet" />
<link href="/static/css/articles.css" rel="stylesheet" />
{{end}}
{{define "importjs"}}
<script src="/static/js/home.js"></script>
{{end}}
{{define "content"}}
<div id="id-content" class="container theme-showcase" role="main">
	<div class="row">
		<div class="col-md-6 col-md-offset-3" id="home-text" style="padding-top:25px;text-align:center;">
			{{$serverListLen := len .ServerList}}
			{{if eq $serverListLen 0}}
				<div class="alert alert-success">
					<h4>无可用的服务器</h4>
				</div>
			{{else}}
				{{range .ServerList}}
				<div class="alert alert-success">
					<h4>{{.ServerName}}</h4>
					<p style="color:blue;">服务器IP：{{.ExposeAddress}}</p>
				</div>
				{{end}}
			{{end}}
		</div>
	</div>
</div>
{{end}}