{{define "Title"}}管理面板{{end}}
{{define "importcss"}}
<link href="/static/css/management.css" rel="stylesheet" />
{{end}}
{{define "importjs"}}
<script src="/static/js/management.js"></script>
{{end}}
{{define "content"}}
<!--banner-->
<div id="id-content" class="container theme-showcase" role="main">
	<div class="row">
		<div class="col-md-2 col-md-offset-0">
			{{template "manage_nav"}}
		</div>
		<div class="col-md-10 col-md-offset-0 manage_content">
			<div class="row">
				<div class="col-md-2">
					<form id="id-form-signup" class="form-horizontal " novalidate="novalidate" id="new_user" action="/management/finduser" accept-charset="UTF-8" method="post">	
						<div class="form-group" style="text-align:center;">
							<input type="uid" class="form-control input-md" placeholder="UID" name="user[uid]"/>
							<input type="name" class="form-control input-md" placeholder="角色名" name="user[name]"/>
							<input type="account" class="form-control input-md" placeholder="账户" name="user[account]"/>
							<input type="submit" id="id-searchuser" name="commit" value="查找" class="btn btn-primary" data-disable-with="正在提交" />
						</div>
					</form>
				</div>
				<div class="col-md-10">
					<div id="id-signup-hint" class="alert alert-danger hidden" role="alert">
						<strong>错误!</strong><span id="id-signup-hinttext">Nothing</span>
					</div>
					<div id="id-result-container">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}